<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072667773403-o2ao1c6rparhuv8n2q7kqev6kceafl8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072667773403-o2ao1c6rparhuv8n2q7kqev6kceafl8t</string>
	<key>API_KEY</key>
	<string>AIzaSyA6r8bOuo1-ZhOYuQon5egn-jBs5fds7xc</string>
	<key>GCM_SENDER_ID</key>
	<string>1072667773403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roberto.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-72f23</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-72f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072667773403:ios:77c733e42041270885fffe</string>
</dict>
</plist>